<!--<input  [(ngModel)]="nameval"  type="text" (keyup.Enter)="onkeyup(nameval)" >

<div>

  {{nameval}}
</div>
<app-favorite  (change)="favouritechanged()" [state]="status">


</app-favorite>
<app-panel>
<ng-container class="header"> 
  i select header
</ng-container>
<ng-container class="body">
 itshare
</ng-container>

</app-panel> -->
<!-- <app-directives></app-directives> --> 
<!--<app-login></app-login> -->
<!--<app-data></app-data> -->
<app-routing-component></app-routing-component>
<main role="main" class="container">

 <router-outlet></router-outlet>
</main>